# Development environment variables
PUBFLOW_DATABASE_USERNAME=<USERNAME>
PUBFLOW_DATABASE_PASSWORD=<PASSWORD>

# Production environment variables
PUBFLOW_DATABASE_USERNAME=<USERNAME>
PUBFLOW_DATABASE_PASSWORD=<PASSWORD>

# Test environment variables
PUBFLOW_TEST_DATABASE_USERNAME=<USERNAME>
PUBFLOW_TEST_DATABASE_PASSWORD=<PASSWORD>

# Secret key for JWT
PUBFLOW_SECRET_KEY=<SECRET_KEY>